Lecture51 Mar/19/2020

In [0]:
import numpy as np
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
# display all text in a cell without truncate
InteractiveShell.ast_node_interactivity ='all'
pd.set_option('display.max_colwidth', -1)

# 데이터 전처리

## 누락 데이터 처리

- 'titanic' 은 seaborn 이 기본 제공하는 dataset

In [0]:
import seaborn as sns

titanic = sns.load_dataset('titanic')
titanic.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0  0         3       male    22.0  ...  NaN   Southampton  no     False
1  1         1       female  38.0  ...  C     Cherbourg    yes    False
2  1         3       female  26.0  ...  NaN   Southampton  yes    True
3  1         1       female  35.0  ...  C     Southampton  yes    False
4  0         3       male    35.0  ...  NaN   Southampton  no     True

[5 rows x 15 columns]

In [0]:
titanic.shape

(891, 15)

In [0]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [0]:
titanic.age.isnull().sum() ; print ()
titanic.embarked.isnull().sum() ; print ()
titanic.deck.isnull().sum() ; print ()
titanic.embark_town.isnull().sum()

177

2

688

2

### `value_counts(dropna=False)`

In [0]:
titanic.survived.value_counts(); print ()

0    549
1    342
Name: survived, dtype: int64

In [0]:
nan_deck = titanic.deck.value_counts(dropna=True)
print (nan_deck, '\n')
nan_deck = titanic.deck.value_counts(dropna=False)
print (nan_deck, '\n')
print (type(nan_deck), '\n')
titanic.deck.isnull().sum() ; print ('\n')

C    59
B    47
D    33
E    32
A    15
F    13
G    4
Name: deck, dtype: int64

NaN    688
C      59
B      47
D      33
E      32
A      15
F      13
G      4
Name: deck, dtype: int64

<class 'pandas.core.series.Series'>

688

In [0]:
titanic.head().isnull() ; print ()
titanic.head().notnull() ; print ()
titanic.isnull().sum()

   survived  pclass    sex    age  ...   deck  embark_town  alive  alone
0  False     False   False  False  ...  True   False        False  False
1  False     False   False  False  ...  False  False        False  False
2  False     False   False  False  ...  True   False        False  False
3  False     False   False  False  ...  False  False        False  False
4  False     False   False  False  ...  True   False        False  False

[5 rows x 15 columns]

   survived  pclass   sex   age  ...   deck  embark_town  alive  alone
0  True      True    True  True  ...  False  True         True   True
1  True      True    True  True  ...  True   True         True   True
2  True      True    True  True  ...  False  True         True   True
3  True      True    True  True  ...  True   True         True   True
4  True      True    True  True  ...  False  True         True   True

[5 rows x 15 columns]

survived       0
pclass         0
sex            0
age            177
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
deck           688
embark_town    2
alive          0
alone          0
dtype: int64

Q. titanic 의 각 column 별 null 개수를 for loop 이용해 구한 후 출력

- missing count는 예외처리하고 0 출력

### `thresh` : 지정 숫자 이상 null 값 있을 경우 해당 열 삭제

### `how`
 - `how=any` : NaN이 하나라도 있으면 삭제
 - `how=all` : 모두 NaN이면 삭제

In [0]:
print (titanic.columns,'\n')
titanic_thresh = titanic.dropna(axis=1, thresh=500)
print (titanic_thresh.columns,'\n')

titanic_howall = titanic.dropna (axis = 1, how = 'all')
print (titanic_howall.columns,'\n')
titanic_howany = titanic.dropna (axis = 1, how = 'any')
print (titanic_howany.columns,'\n')

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'embark_town', 'alive',
       'alone'],
      dtype='object')

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

Index(['survived', 'pclass', 'sex', 'sibsp', 'parch', 'fare', 'class', 'who',
       'adult_male', 'embark_town', 'alive', 'alone'],
      dtype='object')

### `fillna(method='')`
- `method='ffill'` : NaN 값을 앞의 값으로 대체
- `method='bfill'` : NaN 값을 뒤의 값으로 대체

In [0]:
titanic_ffill = titanic[:]
print (titanic['embark_town'][827:831], '\n')
titanic_ffill['embark_town'].fillna(method='ffill', inplace=True)
print (titanic_ffill['embark_town'][827:831])

827    Cherbourg
828    Queenstown
829    Cherbourg
830    Cherbourg
Name: embark_town, dtype: object

827    Cherbourg
828    Queenstown
829    Cherbourg
830    Cherbourg
Name: embark_town, dtype: object

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [0]:
titanic_bfill = titanic[:]
print (titanic['embark_town'][827:831], '\n')
titanic_bfill['embark_town'].fillna(method='bfill', inplace=True)
print (titanic_bfill['embark_town'][827:831])

827    Cherbourg
828    Queenstown
829    Cherbourg
830    Cherbourg
Name: embark_town, dtype: object

827    Cherbourg
828    Queenstown
829    Cherbourg
830    Cherbourg
Name: embark_town, dtype: object

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

## 중복 데이터 처리

### `duplicated` : 중복된 행 True로 반환

In [0]:
df = pd.DataFrame({
    'c1' : ['a','a','c','a','b',],
    'c2' : [1,1,1,2,2,],
    'c3' : [1,1,2,2,2,]
})

print (df)

  c1  c2  c3
0  a  1   1
1  a  1   1
2  c  1   2
3  a  2   2
4  b  2   2

In [0]:
df_dup = df.duplicated()
print (df_dup)

0    False
1    True
2    False
3    False
4    False
dtype: bool

In [74]:
print (df['c2'], '\n')
print (df['c2'].duplicated().sum(), '\n')
col_dup = df['c2'].duplicated()
print (col_dup)

0    1
1    1
2    1
3    2
4    2
Name: c2, dtype: int64

3

0    False
1    True
2    True
3    False
4    True
Name: c2, dtype: bool

In [84]:
print (df, '\n')
print (df.drop_duplicates(), '\n')
print (df['c1'].drop_duplicates(), '\n')
print (df['c2'].drop_duplicates(), '\n')
print (df['c3'].drop_duplicates(), '\n')

print (df.drop_duplicates(subset=['c2'], ), '\n')
print (df.drop_duplicates(subset=['c2', 'c3'], ))

  c1  c2  c3
0  a  1   1
1  a  1   1
2  c  1   2
3  a  2   2
4  b  2   2

  c1  c2  c3
0  a  1   1
2  c  1   2
3  a  2   2
4  b  2   2

0    a
2    c
4    b
Name: c1, dtype: object

0    1
3    2
Name: c2, dtype: int64

0    1
2    2
Name: c3, dtype: int64

  c1  c2  c3
0  a  1   1
3  a  2   2

  c1  c2  c3
0  a  1   1
2  c  1   2
3  a  2   2

In [81]:
df3 = pd.concat([df['c1'].drop_duplicates(), df['c2'].drop_duplicates(), df['c3'].drop_duplicates()], axis=1)
print (df3)

    c1   c2   c3
0  a    1.0  1.0
2  c   NaN   2.0
3  NaN  2.0 NaN
4  b   NaN  NaN

# 데이터 표준화

## 데이터 단위 변경

In [138]:
auto_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/python-lecture/HW/auto-mpg.csv', header=None)
auto_df.columns = ['mpg', 'cylinders','displacement','horsepower','weight','acceleration','model year','origin','name']
auto_df.head()

    mpg  cylinders  displacement  ... model year  origin                       name
0  18.0  8          307.0         ...  70         1       chevrolet chevelle malibu
1  15.0  8          350.0         ...  70         1       buick skylark 320
2  18.0  8          318.0         ...  70         1       plymouth satellite
3  16.0  8          304.0         ...  70         1       amc rebel sst
4  17.0  8          302.0         ...  70         1       ford torino

[5 rows x 9 columns]

In [86]:
# mpg (mile per gallon) ~ kpl (kilometer per liter)

mpg_to_kpl = 1.60934 / 3.78541
print (mpg_to_kpl)

0.42514285110463595

In [139]:
auto_df['kpl'] = auto_df.mpg * mpg_to_kpl
# auto_df.rename(columns={'mpg' : 'kpl'})
auto_df.kpl = auto_df.kpl.round(2)
display (auto_df)

      mpg  cylinders  displacement  ... origin                       name    kpl
0    18.0  8          307.0         ...  1      chevrolet chevelle malibu  7.65
1    15.0  8          350.0         ...  1      buick skylark 320          6.38
2    18.0  8          318.0         ...  1      plymouth satellite         7.65
3    16.0  8          304.0         ...  1      amc rebel sst              6.80
4    17.0  8          302.0         ...  1      ford torino                7.23
..    ... ..            ...         ... ..              ...                 ...
393  27.0  4          140.0         ...  1      ford mustang gl            11.48
394  44.0  4          97.0          ...  2      vw pickup                  18.71
395  32.0  4          135.0         ...  1      dodge rampage              13.60
396  28.0  4          120.0         ...  1      ford ranger                11.90
397  31.0  4          119.0         ...  1      chevy s-10                 13.18

[398 rows x 10 columns]

## datatype casting

- `unique` 함수로 특이값 확인,
- `replace` 함수로 특이값 nan 처리
- `dropna` 함수로 nan 값 제거
- `astype` 함수로 type casting

In [114]:
print (auto_df.horsepower.dtype)

object

In [115]:
# unique 함수로 고유값 확인

print (auto_df.horsepower.unique())

['130.0' '165.0' '150.0' '140.0' '198.0' '220.0' '215.0' '225.0' '190.0'
 '170.0' '160.0' '95.00' '97.00' '85.00' '88.00' '46.00' '87.00' '90.00'
 '113.0' '200.0' '210.0' '193.0' '?' '100.0' '105.0' '175.0' '153.0'
 '180.0' '110.0' '72.00' '86.00' '70.00' '76.00' '65.00' '69.00' '60.00'
 '80.00' '54.00' '208.0' '155.0' '112.0' '92.00' '145.0' '137.0' '158.0'
 '167.0' '94.00' '107.0' '230.0' '49.00' '75.00' '91.00' '122.0' '67.00'
 '83.00' '78.00' '52.00' '61.00' '93.00' '148.0' '129.0' '96.00' '71.00'
 '98.00' '115.0' '53.00' '81.00' '79.00' '120.0' '152.0' '102.0' '108.0'
 '68.00' '58.00' '149.0' '89.00' '63.00' '48.00' '66.00' '139.0' '103.0'
 '125.0' '133.0' '138.0' '135.0' '142.0' '77.00' '62.00' '132.0' '84.00'
 '64.00' '74.00' '116.0' '82.00']

In [140]:
auto_df.horsepower.replace('?', np.nan, inplace=True)
print (auto_df.horsepower.unique())

['130.0' '165.0' '150.0' '140.0' '198.0' '220.0' '215.0' '225.0' '190.0'
 '170.0' '160.0' '95.00' '97.00' '85.00' '88.00' '46.00' '87.00' '90.00'
 '113.0' '200.0' '210.0' '193.0' nan '100.0' '105.0' '175.0' '153.0'
 '180.0' '110.0' '72.00' '86.00' '70.00' '76.00' '65.00' '69.00' '60.00'
 '80.00' '54.00' '208.0' '155.0' '112.0' '92.00' '145.0' '137.0' '158.0'
 '167.0' '94.00' '107.0' '230.0' '49.00' '75.00' '91.00' '122.0' '67.00'
 '83.00' '78.00' '52.00' '61.00' '93.00' '148.0' '129.0' '96.00' '71.00'
 '98.00' '115.0' '53.00' '81.00' '79.00' '120.0' '152.0' '102.0' '108.0'
 '68.00' '58.00' '149.0' '89.00' '63.00' '48.00' '66.00' '139.0' '103.0'
 '125.0' '133.0' '138.0' '135.0' '142.0' '77.00' '62.00' '132.0' '84.00'
 '64.00' '74.00' '116.0' '82.00']

In [141]:
auto_df.dropna(subset=['horsepower'], axis=0, inplace=True)
print (auto_df.horsepower.unique())

['130.0' '165.0' '150.0' '140.0' '198.0' '220.0' '215.0' '225.0' '190.0'
 '170.0' '160.0' '95.00' '97.00' '85.00' '88.00' '46.00' '87.00' '90.00'
 '113.0' '200.0' '210.0' '193.0' '100.0' '105.0' '175.0' '153.0' '180.0'
 '110.0' '72.00' '86.00' '70.00' '76.00' '65.00' '69.00' '60.00' '80.00'
 '54.00' '208.0' '155.0' '112.0' '92.00' '145.0' '137.0' '158.0' '167.0'
 '94.00' '107.0' '230.0' '49.00' '75.00' '91.00' '122.0' '67.00' '83.00'
 '78.00' '52.00' '61.00' '93.00' '148.0' '129.0' '96.00' '71.00' '98.00'
 '115.0' '53.00' '81.00' '79.00' '120.0' '152.0' '102.0' '108.0' '68.00'
 '58.00' '149.0' '89.00' '63.00' '48.00' '66.00' '139.0' '103.0' '125.0'
 '133.0' '138.0' '135.0' '142.0' '77.00' '62.00' '132.0' '84.00' '64.00'
 '74.00' '116.0' '82.00']

In [142]:
print (auto_df.horsepower.isnull().sum())
print (auto_df.horsepower.dtype)

0
object

In [145]:
auto_df.horsepower = auto_df.horsepower.astype(float)
print (auto_df.horsepower.dtype,'\n')
print (auto_df.info())

float64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 10 columns):
mpg             392 non-null float64
cylinders       392 non-null int64
displacement    392 non-null float64
horsepower      392 non-null float64
weight          392 non-null float64
acceleration    392 non-null float64
model year      392 non-null int64
origin          392 non-null object
name            392 non-null object
kpl             392 non-null float64
dtypes: float64(6), int64(2), object(2)
memory usage: 33.7+ KB
None

## 연속형 data - 범주형 data

In [144]:
print (auto_df.origin.unique(), '\n')
auto_df.origin.replace({ 1 : 'USA', 2 : 'EU', 3 : 'JAPAN' }, inplace=True)
print (auto_df.origin.unique(), '\n')

[1 3 2]

['USA' 'JAPAN' 'EU']

object

In [155]:
print (auto_df.origin.dtype, '\n')
auto_df.origin = auto_df.origin.astype('category')
print (auto_df.origin.dtype, '\n')

object

category

In [154]:
# auto_df.origin = auto_df.origin.astype('str')
# print (auto_df.origin.dtype, '\n')

object

In [162]:
display(auto_df.groupby(['model year','origin'])['kpl'].agg(['min','mean','max', 'count']))

                     min       mean    max  count
model year origin
70         EU      10.20  10.712000  11.05  5
           JAPAN   10.20  10.840000  11.48  2
           USA     3.83   6.493182   9.35   22
71         EU      11.48  12.220000  12.75  4
           JAPAN   10.63  12.542500  14.88  4
           USA     5.10   7.540000   11.90  19
72         EU      7.65   9.352000   11.05  5
           JAPAN   8.08   10.288000  11.90  5
           USA     4.68   6.921111   11.90  18
73         EU      8.08   10.201429  12.33  7
           JAPAN   7.65   8.500000   9.35   4
           USA     4.68   6.392414   9.78   29
74         EU      10.20  11.476667  13.18  6
           JAPAN   10.20  12.468333  13.60  6
           USA     5.53   7.712143   11.90  14
75         EU      9.35   10.416667  12.33  6
           JAPAN   10.20  11.690000  14.03  4
           USA     5.53   7.461500   9.78   20
76         EU      7.01   10.308750  12.54  8
           JAPAN   8.08   11.902500  14.03  4
           USA     5.53   8.261364   12.33  22
77         EU      9.14   12.437500  15.31  4
           JAPAN   9.14   11.653333  14.24  6
           USA     6.38   8.810556   14.24  18
78         EU      6.89   10.606667  18.32  6
           JAPAN   8.97   12.620000  16.75  8
           USA     7.44   9.257727   15.35  22
79         EU      10.80  12.945000  15.86  4
           JAPAN   13.52  14.010000  14.50  2
           USA     6.59   9.981304   15.18  23
80         EU      12.67  15.660000  18.83  8
           JAPAN   10.08  15.050769  19.81  13
           USA     8.12   11.180000  13.65  6
81         EU      11.95  13.010000  14.03  3
           JAPAN   10.29  14.011667  16.62  12
           USA     7.48   11.703077  16.58  13
82         EU      15.31  17.010000  18.71  2
           JAPAN   13.18  14.833333  16.16  9
           USA     9.35   12.664737  16.16  19

In [157]:
auto_df['model year'].astype('category')
print (auto_df['model year'].dtype)

0      70
1      70
2      70
3      70
4      70
       ..
393    82
394    82
395    82
396    82
397    82
Name: model year, Length: 392, dtype: category
Categories (13, int64): [70, 71, 72, 73, ..., 79, 80, 81, 82]

int64